/* Styles*/
input.ng-invalid.ng-dirty{
  background-color: #FA787E;
}
input.ng-valid.ng-dirty{
  background-color: #78FA89;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0%    { transform: rotateZ(0deg); }
  20%   { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40%   { transform: rotateZ(17deg); }
  60%   { transform: rotateZ(16deg); }
  100%  { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to    { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}


/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from  { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(100%); }
  to    { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from  { transform:translateY(100%); }
  to    { transform: translateY(0); }
}

.ng-enter       { animation: scaleUp 0.5s both ease-in; z-index: 8888; }
.ng-leave       { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }


/* page specific animations ------------------------ */

  /* home -------------------------- */
  .main.ng-enter     { animation: scaleUp 0.5s both ease-in; }
  .main.ng-leave         { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }

  /* login ------------------------ */
  .login.ng-enter    { animation:slideInRight 0.5s both ease-in; }
  .login.ng-leave        { animation:slideOutLeft 0.5s both ease-in; }

  /* register ---------------------- */
  .register.ng-leave      { transform-origin: 50% 50%; animation: rotateOutNewspaper .5s both ease-in; }
  .register.ng-enter    { animation:scaleUp 0.5s both ease-in; }

  /* forgot password ---------------------- */
  .forgotpassword.ng-leave      { transform-origin: 50% 50%; animation: rotateOutNewspaper .5s both ease-in; }
  .forgotpassword.ng-enter    { animation:slideInUp 0.5s both ease-in; }

/* forgot username ---------------------- */
  .forgotusername.ng-leave      { transform-origin: 50% 50%; animation: rotateOutNewspaper .5s both ease-in; }
  .forgotusername.ng-enter    { animation:slideInUp 0.5s both ease-in; }


